hostname = *kuwo*, *lrts*

;^https?:\/\/.*(kuwo|lrts).*(music\.pay\?ne|\/a\.p|v\d\/api\/(user\/in|pay\/vi)|\w{3}\/v\d\/user\/vi|\w{3}\/spi\/ms|\w{3}\/v\d\/the|\w{3}\/enc\/use) url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/kuwo.js
;^https?:\/\/.*(kuwo|lrts).*(music\.pay\?ui) url script-request-header https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/kuwo.js


;^https?:\/\/.*\.(kuwo|lrts)\.(cn|me)\/(a\.p|music\.pay|viptab|(vip\/(v2|enc)\/(theme|user\/vip|userbase\/vip\?op\=getMCInfo))|(EcomResource|(Mobile)?Ad)Serv(er|ice)).* url script-response-body https://raw.githubusercontent.com/ClydeTime/Quantumult/main/Script/KWYY/kwyy_crack.js
;^https?:\/\/.*\.kuwo\.cn\/(mgxh|recterm|a\.p|music\.pay\?newver|vip\/(v2|enc)\/(theme\?op=gd|user\/vip\?op=ui)) url script-response-body https://raw.githubusercontent.com/kokoryh/Script/master/js/kuwo.js


# ======= 酷我音乐 ====== #
# 2023-02-27 19:30

# 广告
;^http:\/\/audiobookpay\.kuwo\.cn\/a\.p\?op=get_advertright_endtime url reject-dict
;^http:\/\/(mgxhtj|nmobi|searchrecterm)\.kuwo\.cn\/(mgxh|mobi|recterm)\.s url script-response-body https://raw.githubusercontent.com/RuCu6/QuanX/main/Scripts/break/kuwo.js

# 会员
;^http:\/\/audiobookpay\.kuwo\.cn\/a\.p url script-response-body https://raw.githubusercontent.com/RuCu6/QuanX/main/Scripts/break/kuwo.js
;^http:\/\/musicpay\.kuwo\.cn\/music\.pay url script-response-body https://raw.githubusercontent.com/RuCu6/QuanX/main/Scripts/break/kuwo.js
;^http:\/\/vip1\.kuwo\.cn\/vip\/(enc\/user\/vip\?op=ui|v2\/theme\?op=gd) url script-response-body https://raw.githubusercontent.com/RuCu6/QuanX/main/Scripts/break/kuwo.js
;^https:\/\/vip1\.kuwo\.cn\/vip\/v2\/user\/vip\?op=ui url script-response-body https://raw.githubusercontent.com/RuCu6/QuanX/main/Scripts/break/kuwo.js


# > 酷我音乐_通用广告请求
https?:\/\/vip1\.kuwo\.cn\/vip\/activity\/kwMemberDay url reject-200
# > 酷我音乐_屏蔽热词
https?:\/\/hotword\.kuwo\.cn\/hotword\.s url reject-dict
# > 酷我音乐_通用广告请求
https?:\/\/vip1\.kuwo\.cn\/vip_adv\/ url reject-dict
# > 酷我音乐_通用广告请求
https?:\/\/wapi\.kuwo\.cn\/openapi\/v1\/app\/pasterAdvert url reject-200
# > 酷我音乐_应用内弹窗及右下角
^https?:\/\/mobilead\.kuwo\.cn\/ url reject-200
# > 酷我音乐_搜索框处理
https?:\/\/searchrecterm\.kuwo\.cn\/recterm\.s url script-response-body https://github.com/ddgksf2013/dev/raw/main/kuwomusic.js
# > 酷我音乐_去除首页轮播广告和tips
https?:\/\/mgxhtj\.kuwo\.cn\/mgxh\.s url script-response-body https://github.com/ddgksf2013/dev/raw/main/kuwomusic.js
# > 酷我音乐_去除会员页广告
https?:\/\/appi\.kuwo\.cn\/kuwopay\/vip-tab\/page\/cells url script-response-body https://github.com/ddgksf2013/dev/raw/main/kuwomusic.js
# > 酷我音乐_去除会员页顶部广告tab
https?:\/\/appi\.kuwo\.cn\/kuwopay\/vip-tab\/setting url script-response-body https://github.com/ddgksf2013/dev/raw/main/kuwomusic.js
# > 酷我音乐_开屏广告
https?:\/\/rich\.kuwo\.cn\/AdService url reject-200
# > 酷我音乐_数字专辑
^https?:\/\/musicpay\.kuwo\.cn\/music\.pay\?newver url script-response-body https://github.com/ddgksf2013/dev/raw/main/kuwomusic.js
# > 酷我音乐_听书权限接口1
^https?:\/\/.*\.(kuwo|lrts)\.(cn|me)\/a\.p url script-response-body https://github.com/ddgksf2013/dev/raw/main/kuwomusic.js
# > 酷我音乐_听书权限接口2
^https?:\/\/.*\.kuwo\.cn\/v2\/api\/pay\/vip\/extraVipStatus url script-response-body https://github.com/ddgksf2013/dev/raw/main/kuwomusic.js
# > 酷我音乐_新版vip接口1
^https?:\/\/vip1\.kuwo\.cn\/vip\/enc\/user\/vip\?op=ui url script-response-body https://github.com/ddgksf2013/dev/raw/main/kuwomusic.js
# > 酷我音乐_新版vip接口2
^https?:\/\/vip1\.kuwo\.cn\/vip\/v2\/userbase\/vip\?op=get url script-response-body https://github.com/ddgksf2013/dev/raw/main/kuwomusic.js
# > 酷我音乐_旧版vip接口
^https?:\/\/vip1\.kuwo\.cn\/vip\/v2\/user\/vip($|\?op=ui) url script-response-body https://github.com/ddgksf2013/dev/raw/main/kuwomusic.js
# > 酷我音乐_皮肤解锁
^https?:\/\/vip1\.kuwo\.cn\/vip\/v2\/theme url script-response-body https://github.com/ddgksf2013/dev/raw/main/kuwomusic.js
# > 酷我音乐_无损下载[限纯净版]
^https?:\/\/musicpay\.kuwo\.cn\/music\.pay\?ui url script-request-header https://github.com/ddgksf2013/dev/raw/main/kuwomusic.js