ostname=*bdys*,cupfox.app,*cokemv*,*pornhub.com,*lezhutv*,*bimi*,18comic.org,*5yy*,*gimytv*,*tkznp*,*czspp*,*ikandy*,*libvio*


# > 13 哔嘀影视[网页优化]@ddgksf2013 - 网站地址：https://www.bdys01.com 
^https?:\/\/.*bdys.*com\/($|([a-z]+)\/(play\/)?\d+.*$) url script-response-body https://github.com/ddgksf2013/Cuttlefish/raw/master/Html/JS/bdys.js

# > 12 茶杯狐[网页优化]@ddgksf2013 - 网站地址：https://cupfox.app
^https?:/\/cupfox\.app\/($|(search|list).*$) url script-response-body https://github.com/ddgksf2013/Cuttlefish/raw/master/Html/JS/cupbox.js

# > 11 Cokemv[网页优化]@ddgksf2013 - 网站地址：https://cokemv.me 
^https?:/\/cokemv\.me\/($|vod.*$) url script-response-body https://github.com/ddgksf2013/Cuttlefish/raw/master/Html/JS/cokemv.js

# > 10 PornHub[网页优化]@ddgksf2013 - 网站地址：https://cn.pornhub.com
^https:\/\/(cn|www)\.pornhub\.com\/_xa\/ads url reject-dict
^https?:/\/(cn|www)\.pornhub\.com\/($|(view|video).*$) url script-response-body https://github.com/ddgksf2013/Cuttlefish/raw/master/Html/JS/pornhub.js

# > 09 LeZhu[网页优化]@ddgksf2013 - 网站地址：http://www.lezhutv.com
^https?:/\/.*lezhutv\.com\/($|(type|detail|play|index).*$) url script-response-body https://github.com/ddgksf2013/Cuttlefish/raw/master/Html/JS/lezhu.js

# > 08 Bimi[网页优化]@ddgksf2013 - 网站地址：https://www.bimi.net
^https?:/\/.*bimi.*net\/($|(vodshow|bangumi|type)\/[0-9a-z-\/]+\/$) url script-response-body https://github.com/ddgksf2013/Cuttlefish/raw/master/Html/JS/bimi.js

# > 07 禁漫天堂[网页优化]@ddgksf2013 - 网站地址：https://18comic.org
^https?:\/\/.*18comic\.org\/($|(album|photo).*$) url script-response-body https://github.com/ddgksf2013/Cuttlefish/raw/master/Html/JS/18comic.js

# > 06 555影视[网页优化]@ddgksf2013 - 网站地址：https://555yy6.com
^https?:\/\/.*5yy.*\/($|[0-9a-zA-Z=_/-]+\.html$) url script-response-body https://github.com/ddgksf2013/Cuttlefish/raw/master/Html/JS/555.js

# > 05 剧迷[网页优化]@ddgksf2013 - 网站地址：https://gimytv.app
^https?:\/\/.*gimytv.*\/($|[0-9a-zA-Z=_/-]+\.html$) url script-response-body https://github.com/ddgksf2013/Cuttlefish/raw/master/Html/JS/gimytv.js

# > 04 天空影视[网页优化]@ddgksf2013 - 网站地址：https://tkznp.com/ ****
^https?:\/\/.*tkznp.*com\/($|[0-9a-zA-Z=_/-]+\.html$) url script-response-body https://github.com/ddgksf2013/Cuttlefish/raw/master/Html/JS/tkys.js

# > 03 厂长电影[网页优化]@ddgksf2013 - 网站地址：https://www.czspp.com/
^https?:/\/.*czspp.*com\/($|\?btwaf=\w+$|[0-9a-zA-Z=_/-]+\.html) url script-response-body https://github.com/ddgksf2013/Cuttlefish/raw/master/Html/JS/qianoo.js

# > 02 真不卡[网页优化]@ddgksf2013 - 网站地址：https://www.ikandy.fun
^https?:\/\/.*ikandy.*fun\/($|(vod|top).*$) url script-response-body https://github.com/ddgksf2013/Cuttlefish/raw/master/Html/JS/zhenbuka.js

# > 01 libvio[网页优化]@ddgksf2013 - 网站地址：https://www.iioo.me
^https?:\/\/.*libvio.*me\/($|[0-9a-zA-Z=_/-]+\.html$) url script-response-body https://github.com/ddgksf2013/Cuttlefish/raw/master/Html/JS/libvio.js
