hostname = *api.weibo*, *uve.weibo.com, new.vip.weibo.cn, shop.sc.weibo.com, t.cn, sinaurl.cn

# 微博去广告以及去除各部分推广模块 - cherish
;^https?://m?api\.weibo\.c(n|om)/2/(cardlist|searchall|page|messageflow|statuses/(unread_)?friends(/|_)timeline|groups/timeline|statuses/(container_timeline|unread_hot_timeline|extend|video_mixtimeline|unread_topic_timeline)|profile/(me|container_timeline)|video/(community_tab|remind_info|tiny_stream_video_list)|checkin/show|\!/live/media_homelist|comments/build_comments|container/get_item|search/(finder|container_timeline|container_discover)) url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/weibo_main.js
# 删除微博开屏广告 - cherish
;^https?://(sdk|wb)app\.uve\.weibo\.com(/interface/sdk/sdkad.php|/wbapplua/wbpullad.lua) url script-response-body https://raw.githubusercontent.com/zmqcherish/proxy-script/main/weibo_launch.js
# 自定义tab皮肤
;^https://api.weibo.cn/2/!/client/light_skin url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/weibo_main.js
# 非会员设置tab皮肤 - cherish
;^https://new.vip.weibo.cn/littleskin/preview url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/weibo_main.js
# > 微博钱包
;(^https?:\/\/js\.t\.sinajs\.cn\/c2p\/sam\/frontend\/assets\/walletcache\.json|^https?:\/\/pay\.sc\.weibo\.com\/api\/client\/sdk\/app\/indexnew\/(index|person)|^https?:\/\/shop\.sc\.weibo\.com\/aj\/h5\/order\/center) url script-response-body https://hub.nange.cn/Script/Weibo/Wallet.js
# > 微博个人信息
;^https?:\/\/m?api\.weibo\.c(n|om)\/2\/(profile\/userinfo|statuses\/send|statuses\/destroy|comments\/destroy|profile|users\/(show|relation)|direct_messages\/user_list|messageflow\/notice)\? url script-response-body https://hub.nange.cn/Script/Weibo/Profile.js
# > 微博会员中心
;^https?:\/\/new\.vip\.weibo\.c(n|om)\/aj\/(vipcenter\/home|avatargj\/mall|activity\/userinfo|cardbackground\/index) url script-response-body https://hub.nange.cn/Script/Weibo/VIPCenter.js


# > 微博_屏蔽首页左上角每日的弹窗tips@ddgksf2013
;^https?:\/\/m?api\.weibo\.c(n|om)\/\d/push/daily url reject-dict
# > 微博_屏蔽发现页面搜索框热词@ddgksf2013
^https?:\/\/m?api\.weibo\.c(n|om)\/\d\/\w{5}\/cardlist url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/wb_main.js
# > 微博_应用内弹窗广告@ddgksf2013
^https?:\/\/(preload-click|preload-impression)\.uve\.weibo\.com\/(interface\/wbpullad\/wbpullad_click\.php|wbapplua\/get_wbpullad_log\.lua) url reject
# > 微博_屏蔽sdkconfig请求@ddgksf2013
^https?:\/\/sdkapp\.uve\.weibo\.com\/interface\/sdk\/sdkconfig\.php url reject
# > 微博_Spotlight@ddgksf2013
^https?:\/\/m?api\.weibo\.c(n|om)\/\d\/hot\/hours_spotlight url reject-dict
# > 微博_自定义tab皮肤@zmqcherish
^https://api.weibo.cn/2/!/client/light_skin url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/wb_main.js
# > 微博_非会员设置tab皮肤@zmqcherish
^https://new.vip.weibo.cn/littleskin/preview url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/wb_main.js
# > 微博_去广告以及去除各部分推广模块@zmqcherish,@ddgksf2013
^https?:\/\/m?api\.weibo\.c(n|om)\/\d\/(searchall|page\?|messageflow) url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/wb_main.js
^https?:\/\/m?api\.weibo\.c(n|om)\/\d\/statuses/(unread_)?friends(/|_)timeline url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/wb_main.js
^https?:\/\/m?api\.weibo\.c(n|om)\/\d\/groups/timeline url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/wb_main.js
^https?:\/\/m?api\.weibo\.c(n|om)\/\d\/statuses/(container_timeline|unread_hot_timeline|extend|video_mixtimeline|unread_topic_timeline) url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/wb_main.js
^https?:\/\/m?api\.weibo\.c(n|om)\/\d\/profile/(me|container_timeline) url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/wb_main.js
^https?:\/\/m?api\.weibo\.c(n|om)\/\d\/video/(community_tab|remind_info|tiny_stream_video_list) url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/wb_main.js
^https?:\/\/m?api\.weibo\.c(n|om)\/\d\/search/(finder|container_timeline|container_discover) url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/wb_main.js
^https?:\/\/m?api\.weibo\.c(n|om)\/\d\/(checkin/show|\!/live/media_homelist|comments/build_comments|container/get_item) url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/wb_main.js
^https?:\/\/m?api\.weibo\.c(n|om)\/\d\/cardlist url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/wb_main.js
# > 微博国际版_屏蔽hotsearch@ddgksf2013
^https?:\/\/weibointl\.api\.weibo\.c(n|om)\/portal\.php\?a=hot_search_users url reject-dict
# > 微博国际版_屏蔽热推荐@ddgksf2013
^https?:\/\/m?api\.weibo\.c(n|om)\/\d\/ad\/weibointl\? url reject-dict
# > 微博国际版_屏蔽searching_info@ddgksf2013
^https?:\/\/weibointl\.api\.weibo\.c(n|om)\/portal\.php.*user&a=get_searching_info url echo-response text/html echo-response https://github.com/ddgksf2013/Scripts/raw/master/weibo_search_info.json
# > 微博国际版_屏蔽search_topic@ddgksf2013 
^https?:\/\/weibointl\.api\.weibo\.c(n|om)\/portal\.php.*feed&a=search_topic url echo-response text/html echo-response https://github.com/ddgksf2013/Scripts/raw/master/weibo_search_topic.json
# > 微博国际版_屏蔽开屏广告@ddgksf2013 
^https?:\/\/weibointl\.api\.weibo\.c(n|om)\/portal\.php.*get_coopen_ads url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/wb_main.js
# > 微博国际版_屏蔽sdkad@ddgksf2013
^https?://(sdk|wb)app\.uve\.weibo\.com(/interface/sdk/sdkad.php|/wbapplua/wbpullad.lua) url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/wb_main.js
# > 微博国际版_趋势顶部Card去广告@ddgksf2013
^https?:\/\/weibointl\.api\.weibo\.c(n|om)\/portal\.php.*feed&a=trends url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/wb_main.js
# > 微博国际版_屏蔽用户VIP栏@ddgksf2013
^https?:\/\/weibointl\.api\.weibo\.cn\/portal\.php\?a=user_center url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/wb_main.js
# > 微博国际版_热搜处理@ddgksf2013
^https?:\/\/weibointl\.api\.weibo\.cn\/portal\.php\?a=search_topic url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/wb_main.js




# 去除开屏广告 //sdkapp.uve.weibo.com, wbapp.uve.weibo.com
;^https:\/\/sdkapp\.uve\.weibo\.com\/interface\/sdk\/get-lbs-cell-info\.php$ url reject
;^https:\/\/sdkapp\.uve\.weibo\.com\/interface\/sdk\/sdkconfig\.php\? url reject
;^https:\/\/sdkapp\.uve\.weibo\.com\/interface\/sdk\/sdkad\.php$ url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/weibo.js
;^https:\/\/wbapp\.uve\.weibo\.com\/wbapplua\/wbpullad\.lua\?wm= url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/weibo.js

# 去除信息流广告和各种推广模块 //api.weibo.cn
;^https:\/\/api\.weibo\.cn\/2\/cardlist url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/weibo.js
;^https:\/\/api\.weibo\.cn\/2\/checkin\/show url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/weibo.js
;^https:\/\/api\.weibo\.cn\/2\/client\/publisher_list url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/weibo.js
;^https:\/\/api\.weibo\.cn\/2\/comments\/build_comments url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/weibo.js
;^https:\/\/api\.weibo\.cn\/2\/container\/get_item url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/weibo.js
;^https:\/\/api\.weibo\.cn\/2\/groups\/timeline url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/weibo.js
;^https:\/\/api\.weibo\.cn\/2\/messageflow\/notice url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/weibo.js
;^https:\/\/api\.weibo\.cn\/2\/page url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/weibo.js
;^https:\/\/api\.weibo\.cn\/2\/profile\/container_timeline url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/weibo.js
;^https:\/\/api\.weibo\.cn\/2\/profile\/me url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/weibo.js
;^https:\/\/api\.weibo\.cn\/2\/search\/container_discover url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/weibo.js
;^https:\/\/api\.weibo\.cn\/2\/search\/container_timeline url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/weibo.js
;^https:\/\/api\.weibo\.cn\/2\/search\/finder url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/weibo.js
;^https:\/\/api\.weibo\.cn\/2\/searchall url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/weibo.js
;^https:\/\/api\.weibo\.cn\/2\/statuses\/container_timeline url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/weibo.js
;^https:\/\/api\.weibo\.cn\/2\/statuses\/container_timeline_topicsub url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/weibo.js
;^https:\/\/api\.weibo\.cn\/2\/statuses\/container_timeline_topic url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/weibo.js
;^https:\/\/api\.weibo\.cn\/2\/statuses\/container_timeline_unread url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/weibo.js
;^https:\/\/api\.weibo\.cn\/2\/statuses\/extend url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/weibo.js
;^https:\/\/api\.weibo\.cn\/2\/statuses\/friends\/timeline url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/weibo.js
;^https:\/\/api\.weibo\.cn\/2\/statuses\/unread_friends_timeline url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/weibo.js
;^https:\/\/api\.weibo\.cn\/2\/statuses\/unread_hot_timeline url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/weibo.js
;^https:\/\/api\.weibo\.cn\/2\/statuses\/unread_topic_timeline url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/weibo.js
;^https:\/\/api\.weibo\.cn\/2\/statuses\/video_mixtimeline url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/weibo.js
;^https:\/\/api\.weibo\.cn\/2\/video\/community_tab url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/weibo.js
;^https:\/\/api\.weibo\.cn\/2\/video\/remind_info url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/weibo.js
;^https:\/\/api\.weibo\.cn\/2\/video\/tiny_stream_video_list url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/weibo.js
^https:\/\/api\.weibo\.cn\/2\/!\/huati\/discovery_home_bottom_channels url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/weibo.js
;^https:\/\/api\.weibo\.cn\/2\/!\/live\/media_homelist url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/weibo.js
^https:\/\/api\.weibo\.cn\/2\/push\/active url script-response-body https://raw.githubusercontent.com/xuandrew/Quantumult-X/master/Script/weibo.js

# 去除热搜提醒 //api.weibo.cn
;^https:\/\/api\.weibo\.cn\/2\/hot\/hours_spotlight url reject-dict

# 去除侧边栏 //api.weibo.cn
;^https:\/\/api\.weibo\.cn\/2\/ug\/checkin\/list url reject-dict

# 去除话题卡片
;^https:\/\/api\.weibo\.cn\/2\/!\/huati\/mobile_discovery_searchchange url reject-dict

# 去除信息流视频号 //api.weibo.cn
;^https:\/\/api\.weibo\.cn\/2\/!\/multimedia\/playback\/batch_get url reject-dict

# 去除红包信息
;^https:\/\/api\.weibo\.cn\/2\/video\/redpacket url reject-dict

# 跳过重定向页面以直接访问 //weibo.cn, shop.sc.weibo.com, t.cn, sinaurl.cn
^https:\/\/weibo\.cn\/sinaurl\?(.*&)?(u|toasturl|goto)= url script-echo-response https://raw.githubusercontent.com/RuCu6/QuanX/main/Scripts/noRedirect.js
^https:\/\/shop\.sc\.weibo\.com\/h5\/jump\/error\?(.*&)?url= url script-echo-response https://raw.githubusercontent.com/RuCu6/QuanX/main/Scripts/noRedirect.js
^https:\/\/(sinaurl|t)\.cn\/ url script-response-header https://raw.githubusercontent.com/RuCu6/QuanX/main/Scripts/noRedirect.js

;hostname = sdkapp.uve.weibo.com, wbapp.uve.weibo.com, api.weibo.cn, weibo.cn, shop.sc.weibo.com, t.cn, sinaurl.cn
