# 搜索页 关键词,猜你想搜
^https:\/\/api\.zhihu\.com\/feed\/render\/revisit\/current_reading$ url reject-dict
^https:\/\/api\.zhihu\.com\/search\/preset_words\?? url reject-dict
^https:\/\/api\.zhihu\.com\/search\/recommend_query\/v2\? url response-body "recommend_queries":\{.+\} response-body "recommend_queries":{}
^https:\/\/www\.zhihu\.com\/api\/v4\/search\/related_queries\/(answer|article)\/\d+ url reject-dict

